<h1>Editando Atração</h1>

<%= render 'form', attraction: @attraction %>
<br>

<%= link_to 'Exibir', @attraction, :class => "btn btn-primary" %> 
<%= link_to 'Voltar', attractions_path, :class => "btn btn-danger" %>
